version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - run: npm install
      - run:
          command: |
            git config user.email "scribhneoir21@gmail.com"
            git config user.name "scribhneoir"
      - run: yarn deploy